In [4]:
import pandas as pd
import great_expectations as ge

In [9]:
dataset= ge.read_csv('./bucket/etl-iphone6/full_dataset_post_etl&featureEng.csv')
dataset_embeddings=ge.read_csv('./bucket/etl-iphone6/full_dataset_embeddings.csv',index_col=0)

In [24]:
dataset_embeddings.head()

,0,1,2,3,4,5,6,7,8,9,...,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535
0,-0.016837,-0.009745,0.010138,-0.021534,-0.000880,0.011593,-0.037843,-0.002905,-0.007329,-0.001585,...,0.013460,-0.019964,0.037979,-0.026975,-0.018665,0.042499,-0.032348,-0.025811,0.014090,-0.028098
1,-0.009223,0.003645,-0.018278,-0.020371,-0.017790,0.013200,-0.033320,-0.003718,-0.020846,-0.028478,...,0.011365,-0.030529,0.041050,-0.018669,-0.027181,0.003164,-0.016562,-0.019632,0.001014,-0.023804
2,-0.016064,0.003222,0.007999,-0.026997,-0.015285,0.012310,-0.008106,-0.000991,0.001728,-0.013532,...,-0.002992,-0.029523,0.017286,-0.043115,-0.023666,0.009019,-0.009080,0.001371,0.007011,-0.026715
3,-0.027700,-0.004357,0.001510,-0.017028,0.009624,-0.000192,-0.035545,-0.010734,0.000684,-0.012009,...,-0.005208,-0.035573,0.038799,-0.025383,-0.014932,0.038110,-0.011471,-0.024722,0.002554,-0.025066
4,-0.028545,-0.010588,-0.011517,-0.039148,-0.015369,0.012543,-0.032933,-0.009836,-0.009963,-0.040695,...,0.023272,-0.011770,0.023610,-0.045448,-0.030233,0.015693,-0.007481,-0.006430,0.011256,-0.027238

In [23]:
dataset.expect_column_distinct_values_to_be_in_set('has_url',value_set=[0,1]).success and\
dataset.expect_column_min_to_be_between('tweet_count_perID_fromStart',strict_min=1).success and\
dataset.expect_column_values_to_be_of_type('name',type_='str').success and\
dataset.expect_column_values_to_be_of_type('id',type_='str').success and\
dataset.expect_column_values_to_be_of_type('text',type_='str').success and\
dataset.expect_column_values_to_be_of_type('has_url',type_='int').success and\
dataset.expect_column_values_to_be_of_type('tweet_count_perID_fromStart',type_='int').success

True

In [32]:
column0_type_validation=dataset_embeddings.expect_column_values_to_be_of_type('0',type_='float').success
for i in range(1,1536):
    matched=column0_type_validation and dataset_embeddings.expect_column_values_to_be_of_type(\
        f'{str(i)}',type_='float').success
    if matched:
        multi_column_type_validation=matched
    else:
        multi_column_type_validation=matched
        break  
dataset_embeddings.expect_table_column_count_to_equal(1536).success and\
multi_column_type_validation

True